

<div class="row">
	<div class="container" >
		<div class="col s12">
			<form ng-submit="vm.register()" role="form">
				<div class="input-field col s12">
					<input type="text" name="email" id="email" ng-model="vm.email">
					<label for="email">Email</label>
		        </div>
		        <div class="input-field col s12">
					<input type="text" name="first_name" id="first_name" ng-model="vm.first_name">
					<label for="first_name">First Name</label>
		        </div>
		        <div class="input-field col s12">
					<input type="text" name="last_name" id="last_name" ng-model="vm.last_name">
					<label for="last_name">Last Name</label>
		        </div>

		        <div class="input-field col s12">
					<input type="date" class="datepicker" name="date_of_birth" id="date_of_birth" ng-model="vm.date_of_birth" >
		        </div>

				<div class="input-field col s12">
					<input type="password" name="password" id="password" ng-model="vm.password">
					<label for="password">Password</label>
		        </div>

		         <div class="input-field col s12">
					<input type="checkbox" name="is_valet" id="is_valet" ng-model="vm.is_valet">
					<label for="is_valet">Valet?</label>
		        </div>
				
				<div class="input-field col 12">
					<button type="submit" class="waves-effect waves-light btn" >Register</button>
				</div>
			</form>
		</div>
		<div class="col s12">
			<p>Already have an account?  <a href="#login/">Login here</a>.</p>
		</div>
	</div>
</div>


