{% load staticfiles %}
<!DOCTYPE html>
<html ng-app='valet'>
<head>
	<title></title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	
	<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}"> -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/materialize.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/user-style.css' %}">
	{% block jsblock %}

	
		
	{% endblock jsblock %}
	
	<script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/angular.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/angular-route.js' %}"></script>
	<script type="text/javascript" src="{% static 'client/main.js' %}"></script>
	<script type="text/javascript" src="{% static 'client/authentication/services/register.factory.js' %}"></script>
	<script type="text/javascript" src="{% static 'client/authentication/controllers/register.controller.js' %}"></script>
	<script type="text/javascript" src="{% static 'client/authentication/services/login.factory.js' %}"></script>
	<script type="text/javascript" src="{% static 'client/authentication/controllers/login.controller.js' %}"></script>
	<script type="text/javascript" src="{% static 'client/accounts/services/profile.factory.js' %}"></script>
	<script type="text/javascript" src="{% static 'client/accounts/controllers/profile.controller.js' %}"></script>
	<script type="text/javascript" src="{% static 'client/accounts/services/vehicle.factory.js' %}"></script>
	<script type="text/javascript" src="{% static 'client/accounts/controllers/vehicle.controller.js' %}"></script>
	<script type="text/javascript" src="{% static 'client/accounts/services/license.factory.js' %}"></script>
	<script type="text/javascript" src="{% static 'client/accounts/controllers/license.controller.js' %}"></script>
	<script type="text/javascript" src="{% static 'client/accounts/services/policy.factory.js' %}"></script>
	<script type="text/javascript" src="{% static 'client/accounts/controllers/policy.controller.js' %}"></script>
	<script type="text/javascript" src="{% static 'client/orders/services/order.factory.js' %}"></script>
	<script type="text/javascript" src="{% static 'client/orders/controllers/order.controller.js' %}"></script>
	
	<script type="text/javascript" src="{% static 'client/bower_components/oclazyload/dist/ocLazyLoad.min.js' %}"></script>
	<!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZWDrf4ut4695uglcR95IUHQGKQ70rHl8&libraries=places"></script> -->
	<script src="{% static 'client/bower_components/angular-simple-logger/dist/angular-simple-logger.min.js' %}"></script>
	<script src="{% static 'client/bower_components/lodash/dist/lodash.min.js' %}"></script>
	<script src="{% static 'client/bower_components/angular-google-maps/dist/angular-google-maps.min.js' %}"></script>
	
	
	

	

	{% block stripe %}

	{% endblock stripe %}
	<script type="text/javascript">
		{% block jquery %}


		{% endblock jquery %}
		$(document).ready(function(){
			
			{% block on_ready_js %}

			{% endblock on_ready_js %}
			$(".button-collapse").sideNav();
			$(".datepicker").pickadate({
				selectMonths: true,
				selectYears: 30,
				format: 'yyyy-mm-dd'
			});
			$('select').material_select();
			// the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
		    $('.modal-trigger').leanModal();
		  
			
		});
		$(window).load(function(){

			{% block window_load_js %}

			{% endblock window_load_js %}

		});
	</script>
	<script type="text/javascript" src="{% static 'js/csrf_exempt.js' %}"></script>
	{% block styles %}

	{% endblock styles %}
</head>
<body>

	<div ng-view>

		
	</div>


</body>
</html>