{% load staticfiles %}
<!DOCTYPE html>
<html >
<head>
	<title></title>
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	
	<!-- Include jQuery Mobile stylesheets -->
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">

<!-- Include the jQuery library -->
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>

<!-- Include the jQuery Mobile library -->
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

	<link rel="stylesheet" type="text/css" href="{% static 'css/style-mobile.css' %}">
	{% block jsblock %}

	
		
	{% endblock jsblock %}
	{% block stripe %}

	{% endblock stripe %}
	<!-- <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script> -->
	<!-- <script type="text/javascript" src="{% static 'js/angular.min.js' %}"></script> -->
	<script type="text/javascript">
		{% block jquery %}


		{% endblock jquery %}
		$(document).ready(function(){
			
			{% block on_ready_js %}

			{% endblock on_ready_js %}
			$(".button-collapse").sideNav();
			$(".datepicker").pickadate({
				selectMonths: true,
				selectYears: 30,
				format: 'yyyy-mm-dd'
			});
			$('select').material_select();
			// the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
		    $('.modal-trigger').leanModal();
		    
		    var today = new Date();
		    var $input_start_date = $('#start_date').pickadate();
			// Use the picker object directly.
			var start_picker = $input_start_date.pickadate('picker');
			// Using a string along with the parsing format (defaults to `format` option).
			start_picker.set('select', today, { format: 'yyyy-mm-dd' });
			var $input_end_date = $('#end_date').pickadate();
			// Use the picker object directly.
			var end_picker = $input_end_date.pickadate('picker');
			// Using a string along with the parsing format (defaults to `format` option).
			end_picker.set('select', today, { format: 'yyyy-mm-dd' });
			
		});
		$(window).load(function(){

			{% block window_load_js %}

			{% endblock window_load_js %}

		});
	</script>
	<script type="text/javascript" src="{% static 'js/csrf_exempt.js' %}"></script>
	{% block styles %}

	{% endblock styles %}
</head>
<body>

	{% block navbar %}
		<nav id="" class="ui-grid-solo">

				<a href="#myPanel"><i id="top-menu-btn" class="fa fa-bars fa-2x"></i><a>
				<a href="{% url 'user-map' %}"><i id="top-menu-btn" class="fa fa-globe fa-2x"></i></a>
			    <a href="" onclick="return getLatestRequest();"><i id="top-menu-btn" class="fa fa-undo fa-2x"></i></a>

		</nav>
		{% include 'navbar-user-mobile.html' %}
	{% endblock navbar %}

	{% block content %}

	{% endblock content %}

</body>
</html>