{% load staticfiles %}
<!DOCTYPE html>
<html ng-app='valet'>
<head>
	<title></title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	
	<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}"> -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/materialize.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/user-style.css' %}">
	{% block jsblock %}

	
		
	{% endblock jsblock %}
	
	
	<script type="text/javascript" src="{% static 'js/angular.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/angular-route.js' %}"></script>
	<script type="text/javascript" src="{% static 'client/main.js' %}"></script>
	<script type="text/javascript" src="{% static 'client/authentication/services/register.factory.js' %}"></script>
	<script type="text/javascript" src="{% static 'client/authentication/controllers/register.controller.js' %}"></script>
	<script type="text/javascript" src="{% static 'client/authentication/services/login.factory.js' %}"></script>
	<script type="text/javascript" src="{% static 'client/authentication/controllers/login.controller.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
	{% block stripe %}

	{% endblock stripe %}
	<script type="text/javascript">
		{% block jquery %}


		{% endblock jquery %}
		$(document).ready(function(){
			
			{% block on_ready_js %}

			{% endblock on_ready_js %}
			$(".button-collapse").sideNav();
			$(".datepicker").pickadate({
				selectMonths: true,
				selectYears: 30,
				format: 'yyyy-mm-dd'
			});
			$('select').material_select();
			// the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
		    $('.modal-trigger').leanModal();
		  
			
		});
		$(window).load(function(){

			{% block window_load_js %}

			{% endblock window_load_js %}

		});
	</script>
	<script type="text/javascript" src="{% static 'js/csrf_exempt.js' %}"></script>
	{% block styles %}

	{% endblock styles %}
</head>
<body>

	{% block navbar %}
		{% include 'navbar-user.html' %}
	{% endblock navbar %}

	{% block content %}

	{% endblock content %}
	<div ng-view>

	</div>

</body>
</html>