<div class="row">
  <nav id="mobile-nav" class="col s12">
    <ul class="right hide-on-med-and-down">
      <li><a href="{% url 'accounts:profile' %}">User Account</a></li>
      <li><a href="{% url 'accounts:payment' %}">Payment</a></li>
      <li><a href="">History</a></li>
      <li><a href="{% url 'accounts:vehicle' %}">Registered Vehicle</a></li>
      <li><a href="{% url 'accounts:license' %}">Drivers License</a></li>
      <li><a href="{% url 'accounts:insurance' %}">Insurance Policy</a></li>
      <li><a href="#!">Notifications</a></li>
      <li><a href="#!">Help</a></li>
      <li><a href="#!">Settings</a></li>
    </ul>
    <ul id="slide-out" class="side-nav">
      <li><img src="{{ user.profile_pic.url }}" class="circle responsive-img profile-pic-frame"></li>
      <li><a href="{% url 'accounts:profile' %}">User Account</a></li>
      <li><a href="{% url 'accounts:payment' %}">Payment</a></li>
      <li><a href="">History</a></li>
      <li><a href="{% url 'accounts:vehicle' %}">Registered Vehicle</a></li>
      <li><a href="{% url 'accounts:license' %}">Drivers License</a></li>
      <li><a href="{% url 'accounts:insurance' %}">Insurance Policy</a></li>
      <li><a href="#!">Notifications</a></li>
      <li><a href="#!">Help</a></li>
      <li><a href="#!">Settings</a></li>
      <li><a href="{% url 'logout' %}">Logout</a></li>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    <a href="{% url 'user-map' %}"><i id="top-menu-btn" class="fa fa-globe fa-2x"></i></a>
    <a href="" onclick="return getLatestRequest();"><i id="top-menu-btn" class="fa fa-undo fa-2x"></i></a>
  </nav>
</div>