{% extends 'base-valet.html' %}
{% block jsblock %}
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZWDrf4ut4695uglcR95IUHQGKQ70rHl8&libraries=places"></script>

  {% load staticfiles %}
  <script type="text/javascript" src="{% static 'js/csrf_exempt.js' %}"></script>

  <script src="http://127.0.0.1:3000/socket.io/socket.io.js"></script>
{% endblock %}


{% block jquery %}

  var apiKey = 'AIzaSyC5rDIK5VhVda2tXaw-h28AvAObJhVeVfY';
  var socket;
  var map;
  var marker;
  var marker_locations = [];
  var directionsService;
  var directionsDisplay;
  var placeIdArray = [];
  var polylines = [];
  var snappedCoordinates = [];

  function geocodeLatLng(geocoder, lat, lng) {

      var latlng = {lat: parseFloat(lat), lng: parseFloat(lng)};
      geocoder.geocode({'location': latlng}, function(results, status) {
        if (status === google.maps.GeocoderStatus.OK) {
          if (results[0]) {

            //console.log(results[0].formatted_address);
            //var address = results[0].formatted_address;
            //console.log(address);
            //document.getElementById('id_address').value = address;
            //return address;

          } else {
            window.alert('No results found');
          }
        } else {
          window.alert('Geocoder failed due to: ' + status);
        }
      });
  }

  function updateCurrentLocation(){
      // Try HTML5 geolocation.
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };


            document.getElementById('id_lat').value = pos.lat;
            document.getElementById('id_lng').value = pos.lng;

            console.log("new lat position: " + pos.lat);
            console.log("new lng position: " + pos.lng);

            
            // draw map
            // set center to the currentPosition lat, lng
            map = new google.maps.Map(document.getElementById('map'), {
              center: {lat: pos.lat, lng: pos.lng},
              zoom: 15,
            });


          marker_locations.push(pos);
          for(var i = 0; i < marker_locations.length; i++)
          {
              marker = new google.maps.Marker({
                position: new google.maps.LatLng(marker_locations[i].lat,marker_locations[i].lng),
                map: map,
                animation: google.maps.Animation.DROP,
              });
          }


        var geocoder = new google.maps.Geocoder;
        geocodeLatLng(geocoder, pos.lat, pos.lng);
        //console.log(result);

        

        }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }

      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                            'Error: The Geolocation service failed.' :
                            'Error: Your browser doesn\'t support geolocation.');
      }
  }

  function getCurrentLocation() {
      // Try HTML5 geolocation.
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };

            document.getElementById('id_lat').value = pos.lat;
            document.getElementById('id_lng').value = pos.lng;

            console.log(pos.lat);
            console.log(pos.lng);

            
            // draw map
            // set center to the currentPosition lat, lng
            map = new google.maps.Map(document.getElementById('map'), {
              center: {lat: pos.lat, lng: pos.lng},
              zoom: 15,
              mapTypeControl: false,
              zoomControl: true,
              zoomControlOptions: {
                  position: google.maps.ControlPosition.RIGHT_CENTER
              },
              scaleControl: true,
              streetViewControl: true,
              streetViewControlOptions: {
                  position: google.maps.ControlPosition.RIGHT_CENTER
              },
            });


            marker_locations.push(pos);
            for(var i = 0; i < marker_locations.length; i++)
            {
                marker = new google.maps.Marker({
                  position: new google.maps.LatLng(marker_locations[i].lat,marker_locations[i].lng),
                  map: map,
                  animation: google.maps.Animation.DROP,
                });
            }

        var geocoder = new google.maps.Geocoder;
        geocodeLatLng(geocoder, pos.lat, pos.lng);

          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }

      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                            'Error: The Geolocation service failed.' :
                            'Error: Your browser doesn\'t support geolocation.');
      }
  }

  function connectSocket(){
    // var socket;
    socket = io.connect('http://127.0.0.1:3000/valets');
    console.log('ran connectSocket');
    
  }

  function requestAccepted(){

    var url = "request/accept/"; // the script where you handle the form input.

    $.ajax({
       type: "POST",
       url: url,
       data: $("#reparkRequestForm").serialize(), // serializes the form's elements.
       success: function(data)
       {
           console.log("successfully retrieved repark obj");
           console.log(data);
           
           $("#floating-request-screen").hide();
           socket.emit('join-room', data);

       }
     });

    var watchID;
    var geoLoc;

    function showLocation(position) {
        var latitude = position.coords.latitude;
        var longitude = position.coords.longitude;
        //alert("Latitude : " + latitude + " Longitude: " + longitude);

        // send new location to server.js
        socket.emit('get-new-location', {lat:latitude,lng:longitude});
    }
     
    function errorHandler(err) {
        if(err.code == 1) {
           alert("Error: Access is denied!");
        }
        
        else if( err.code == 2) {
           alert("Error: Position is unavailable!");
        }
    }

     // clear the watch that was started earlier
    function clearWatch() {
        if (watchID != null) {
            navigator.geolocation.clearWatch(watchID);
            watchID = null;
        }
    }
   
    function getLocationUpdate(){
        if(navigator.geolocation){
           // Update every 1 ms seconds
           var options = {enableHighAccuracy: true,timeout: 5000,maximumAge: 0,desiredAccuracy: 0, frequency: 1 };
           geoLoc = navigator.geolocation;
           watchID = geoLoc.watchPosition(showLocation, errorHandler, options);
        }
        
        else{
           alert("Sorry, browser does not support geolocation!");
        }
    }

    getLocationUpdate();

  }

  function arrived(){

    // need to update 'picked_up_at' field
    var url = "request/arrived/";

    $.ajax({
      type: "POST",
      url: url,
      data: null,
      success: function(data)
      {
        socket.emit("valet-arrived");
        $("#actionButton").text("Enroute");
        $("#actionButton").attr("onClick", "enroute()");
      }
    });

    
  }

  function enroute(){

    // update 'enroute_at' datetime
    var url = "request/enroute/";

    $.ajax({
      type: "POST",
      url: url,
      data: null,
      success: function(data)
      {

        var output = JSON.parse(data);
        //console.log(output);
        //console.log(output.coordinates);
        //console.log('array of coordinates');
        //console.log(output.coordinates);

        socket.emit("valet-enroute");
        if(output.order.is_repark)
        {
          $("#actionButton").text("Reparked");
          $("#actionButton").attr("onClick", "reparked()");
        } else {

          $("#actionButton").text("Dropped Off");
          $("#actionButton").attr("onClick", "dropoff()");
        }

         var flightPlanCoordinates = [
          {lat: 37.772, lng: -122.214},
          {lat: 21.291, lng: -157.821},
          {lat: -18.142, lng: 178.431},
          {lat: -27.467, lng: 153.027}
        ];

        console.log(flightPlanCoordinates);

        var limitedParkingCoordinates = output.coordinates;

        //console.log(limitedParkingCoordinates);

        var polylineCoordinates = [];

        for (var i = 0; i < limitedParkingCoordinates.length; i++)
        {
          var coord = {};
          coord['lat'] = parseFloat(limitedParkingCoordinates[i].lat);
          coord['lng'] = parseFloat(limitedParkingCoordinates[i].lng);

          polylineCoordinates.push(coord);
        }

        console.log(polylineCoordinates);


        var sectionBoundary = new google.maps.Polyline({
          path: polylineCoordinates,
          geodesic: true,
          strokeColor: '#FF0000',
          strokeOpacity: 1.0,
          strokeWeight: 2
        });

        sectionBoundary.setMap(map);
        
      }
    });
    
  }


  function reparked(){
    
    // grabs the new position, but takes time to load...
    function geocodeLatLng(geocoder, lat, lng) {

      var latlng = {lat: parseFloat(lat), lng: parseFloat(lng)};
      geocoder.geocode({'location': latlng}, function(results, status) {
        if (status === google.maps.GeocoderStatus.OK) {
          if (results[0]) {

            var address = results[0].formatted_address;
            console.log("full address: " + address);
            document.getElementById('id_reparked_address').value = address;

            // run ajax post request
            var url = "request/reparked/"; // the script where you handle the form input.

            $.ajax({
               type: "POST",
               url: url,
               data: $("#updateLocationForm").serialize(), // serializes the form's elements.
               success: function(data)
               {
                  // alert user
                  socket.emit("vehicle-reparked", data);

                  console.log("success response when vehicle is reparked");
                  console.log(data);

                  // reset map and directions
                  directionsDisplay.setMap(null);


                  // run a getCurrentLocation() or rerun watchPosition() ??



                  // show new button
                  $("#actionButton").text("Return");
                  $("#actionButton").attr("onClick", "returnHome()");

               },
               
             });
            } else {
              window.alert('No results found');
            }
          } else {
            window.alert('Geocoder failed due to: ' + status);
          }
        });
        return false;
      }
      // Try HTML5 geolocation.
      if (navigator.geolocation) 
      {
        navigator.geolocation.getCurrentPosition(function(position) 
        {
          console.log("position alert alert alert");
          var pos = {
            lat: position.coords.latitude,
            lng: position.coords.longitude
          };

          document.getElementById('id_reparked_lat').value = pos.lat;
          document.getElementById('id_reparked_lng').value = pos.lng;

          console.log(pos.lat);
          console.log(pos.lng);

          var geocoder = new google.maps.Geocoder;
          geocodeLatLng(geocoder, pos.lat, pos.lng);

          
        }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
      } else {
        // Browser doesn't support Geolocation
        handleLocationError(false, infoWindow, map.getCenter());
      }

    


  }

  function dropoff(){
    
    // grabs the new position, but takes time to load...
    function geocodeLatLng(geocoder, lat, lng) {

      var latlng = {lat: parseFloat(lat), lng: parseFloat(lng)};
      geocoder.geocode({'location': latlng}, function(results, status) {
        if (status === google.maps.GeocoderStatus.OK) {
          if (results[0]) {

            var address = results[0].formatted_address;
            console.log("full address: " + address);
            document.getElementById('id_reparked_address').value = address;

            // run ajax post request
            var url = "request/reparked/"; // the script where you handle the form input.

            $.ajax({
               type: "POST",
               url: url,
               data: $("#updateLocationForm").serialize(), // serializes the form's elements.
               success: function(data)
               {
                  // alert user
                  socket.emit("vehicle-reparked", data);

                  console.log("success response when vehicle is reparked");
                  console.log(data);

                  // reset map and directions
                  directionsDisplay.setMap(null);


                  // put an end to watchPostition
                  clearWatch();

                  // run a getCurrentLocation() or rerun watchPosition() ??



                  // show new button
                  $("#actionButton").text("Return");
                  $("#actionButton").attr("onClick", "returnHome()");

               },
               
             });
            } else {
              window.alert('No results found');
            }
          } else {
            window.alert('Geocoder failed due to: ' + status);
          }
        });
        return false;
      }
      // Try HTML5 geolocation.
      if (navigator.geolocation) 
      {
        navigator.geolocation.getCurrentPosition(function(position) 
        {
          console.log("position alert alert alert");
          var pos = {
            lat: position.coords.latitude,
            lng: position.coords.longitude
          };

          document.getElementById('id_reparked_lat').value = pos.lat;
          document.getElementById('id_reparked_lng').value = pos.lng;

          console.log(pos.lat);
          console.log(pos.lng);

          var geocoder = new google.maps.Geocoder;
          geocodeLatLng(geocoder, pos.lat, pos.lng);

          
        }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
      } else {
        // Browser doesn't support Geolocation
        handleLocationError(false, infoWindow, map.getCenter());
      }

  }
  
  function returnHome(){

    var url = "request/return/";

    $.ajax({
      type:"GET",
      url: url,
      data: null,
      success: function(data)
      {
        // do something;
        // start a new session??
        console.log("returned home");
        console.log(data);
        var origin_latlng = {
          lat: parseFloat(data.dropoff_location.lat),
          lng: parseFloat(data.dropoff_location.lng),
        }

        var destination_latlng = {
          lat: parseFloat(data.pickup_location.lat),
          lng: parseFloat(data.pickup_location.lng),
        }

        directionsDisplay = new google.maps.DirectionsRenderer;
        directionsService = new google.maps.DirectionsService;

        directionsDisplay.setMap(map);
        directionsDisplay.setPanel(document.getElementById('right-panel'));

        function calculateAndDisplayRoute(directionsService, directionsDisplay,origin_latlng,destination_latlng){
          directionsService.route({
            origin: origin_latlng,
            destination: destination_latlng,
            travelMode: google.maps.TravelMode.DRIVING
          }, function(response, status){
            if(status === google.maps.DirectionsStatus.OK){
              directionsDisplay.setDirections(response);
              console.log(response);

              $("#actionButton").text("Finished");
              $("#actionButton").attr("onClick", "requestComplete()");

            } else {
              window.alert('Directions request failed due to ' + status);
            }
          });
        };
        calculateAndDisplayRoute(directionsService, directionsDisplay,origin_latlng,destination_latlng);

      }
    });
  }

  function requestComplete(){

    marker_locations = [];

    var url = 'request/completed/';
    $.ajax({
      type:"POST",
      url: url,
      data: null,
      success: function(data)
      {
        // do something
        socket.emit("request-completed");
        window.location.href = '/valet/';
      }

    });
    return false;

  }
  
  {% endblock jquery %}
 {% block on_ready_js %}

    $(".button-collapse").sideNav();
    connectSocket();
    getCurrentLocation();

    socket.on('incoming-request', function(data){

      console.log("incoming request");

      console.log(data);

      if(data.is_repark)
      {
        document.getElementById('repark_id').value = data.id;
      } else {
        document.getElementById('dropoff_id').value = data.id;
      }
      

      $("#request-screen").append("<div id='floating-request-screen' class='col s12'><div id='onscreen-message' class='col s12'><h3>Incoming Request</h3><h4>You have 30 seconds to accept.</h4></div></div>");

      $("#floating-request-screen").fadeIn(2000, function() {
        $("h3").fadeIn(1200);
        $("h4").fadeIn(1200);
      });

      $("#map").append("<div class='row'><button id='actionButton' class='col s12 waves-effect waves-light btn-large actionBtn light-blue darken-1' onClick='requestAccepted()'>Accept Request</button></div>");
      // use data to display on html screen


    });

    socket.on('incoming-scheduled-request', function(data){

      // display some type of flash message (closable)

    });

    socket.on("valet-assigned-to-request", function(){
      $("#floating-request-screen").hide();
      $("#actionButton").hide();
    });

    socket.on("activate-directions-service", function(data){

      console.log(data);
      console.log('activate directions service');

      var origin_latlng;
      var destination_latlng;

      if(data.is_repark)
      {
        origin_latlng = {
          lat: parseFloat(data.valet_start_pos.lat),
          lng: parseFloat(data.valet_start_pos.lng),

        }

        destination_latlng = {
          lat: parseFloat(data.pickup_location.lat),
          lng: parseFloat(data.pickup_location.lng),
        }
      } else {

        // valet current position
        origin_latlng = {
          lat: parseFloat(data.valet_start_pos.lat),
          lng: parseFloat(data.valet_start_pos.lng),

        }

        // 'dropoff_location' of user's last repark request
        destination_latlng = {
          lat: parseFloat(data.pickup_location.lat),
          lng: parseFloat(data.pickup_location.lng),
        }

        // need to add one more point for the user's current position
        // this location is equivalent to dropoff.dropoff_location

      }

      

      directionsDisplay = new google.maps.DirectionsRenderer;
      directionsService = new google.maps.DirectionsService;

      directionsDisplay.setMap(map);
      directionsDisplay.setPanel(document.getElementById('right-panel'));


      var onChangeHandler = function() {
        calculateAndDisplayRoute(directionsService, directionsDisplay);
      };

      function calculateAndDisplayRoute(directionsService, directionsDisplay,origin_latlng,destination_latlng){
        directionsService.route({
          origin: origin_latlng,
          destination: destination_latlng,
          travelMode: google.maps.TravelMode.DRIVING
        }, function(response, status){
          if(status === google.maps.DirectionsStatus.OK){
            directionsDisplay.setDirections(response);
            console.log(response);
            // if success:
            // change button
            $("#actionButton").text("Arrived");
            $("#actionButton").attr("onClick", "arrived()");

          } else {
            window.alert('Directions request failed due to ' + status);
          }
        });
      };
      marker.setMap(null);
      marker_locations = [];
      calculateAndDisplayRoute(directionsService, directionsDisplay,origin_latlng,destination_latlng);



    });
  


{% endblock on_ready_js %}


{% block styles %}
{% endblock styles %}

{% block content %}


<form action="{% url 'accept-request' %}" method="POST" id="reparkRequestForm">
  {% csrf_token %}
  <input type="hidden" class="" id="valet_id" name="valet_id" value="{{ request.user.id }}"/>
  <input type="hidden" class="" id="repark_id" name="repark_id" />
  <input type="hidden" class="" id="dropoff_id" name="dropoff_id" />
  <input type="hidden" id="id_lat"  name="lat" />
  <input type="hidden" id="id_lng"  name="lng" />
</form>

<form action="{% url 'reparked' %}" method="POST" id="updateLocationForm">
  {% csrf_token %}
  <input type="hidden" class="" id="valet_id" name="valet_id" value="{{ request.user.id }}"/>
  <input type="hidden" id="id_reparked_address" class="" name="address"/>
  <input type="hidden" id="id_reparked_lat" name="lat" />
  <input type="hidden" id="id_reparked_lng" name="lng" />
</form>

<div id="request-screen">

</div>
  
<div id="map"></div>




{% endblock content %}
