{% extends 'base-user.html' %}
{% block jsblock %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
{% endblock jsblock %}

{% block stripe %}
<script type="text/javascript">
  // This identifies your website in the createToken call below
  var stripe_pk = '{{ stripe_publishable_key }}';
  Stripe.setPublishableKey(stripe_pk);
  // ...
</script>
{% endblock stripe %}

{% block jquery %}

function stripeResponseHandler(status, response) {
  var $form = $('#payment-form');

  if (response.error) {
    // Show the errors on the form
    $form.find('.payment-errors').text(response.error.message);
    $form.find('button').prop('disabled', false);
  } else {
    // response contains id and card, which contains additional card details
    var token = response.id;
    // Insert the token into the form so it gets submitted to the server
    $form.append($('<input type="hidden" name="stripeToken" />').val(token));
    // and submit
    $form.get(0).submit();
  }
};


jQuery(function($) {
  $('#payment-form').submit(function(event) {
    var $form = $(this);

    // Disable the submit button to prevent repeated clicks
    $form.find('button').prop('disabled', true);

    Stripe.card.createToken($form, stripeResponseHandler);

    // Prevent the form from submitting with the default action
    return false;
  });
});




{% endblock jquery %}

{% block on_ready_js %}


{% endblock on_ready_js %}

{% block content %}
<div class="row dashboard-wrapper">
	<div class="container">
		<div class="col s12">
			<h3>Subscription Plan:</h3>

			<form action="" method="POST" id="payment-form">
				{% csrf_token %}
				<span class="payment-errors"></span>
				<div class="row">
					<div class="input-field col s12">
						{{ form.cc_full_name.label }}
						{{ form.cc_full_name }}
					</div>
				</div>

				<div class="row">
					<div class="input-field col s10">
						{{ form.cc_number.label }}
						{{ form.cc_number }}

					</div>
					<div class="input-field col s2">
						{{ form.cc_cvc.label }}
						{{ form.cc_cvc }}

					</div>
				</div>
				<div class="row">
					<div class="input-field col s6">

						{{ form.cc_exp_month.label }}
						{{ form.cc_exp_month }}
					</div>
					<div class="input-field col s6">

						{{ form.cc_exp_year.label }}
						{{ form.cc_exp_year}}
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<button type="submit" class="waves-effect waves-light btn">Add Payment Method</button>
					</div>
				</div>
			</form>
		</div>

		<div class='col s12'>
			<form method="POST" action="{% url 'accounts:update-payment' %}" >
			{% csrf_token %}
			{{ formset.management_form }}
			<table>
				<thead>
					<tr>
						<th>Card/Account</th>
						<th>Active?</th>
						<th>Is Primary?</th>
					</tr>
				</thead>
				<tbody>
					
					{% for form in formset %}
						<tr>
							<td>{{ form.instance.customer_stripe_id }}</td>
							<td class="switch">
								<label for="{{ form.is_active.auto_id }}">
									Off
									{{ form.is_active }}
									<span class="lever"></span>
									On
								</label>
							</td>
							<td>
								{{ form.is_primary }}
								<label for="{{ form.is_primary.auto_id }}"></label>
							</td>
							<input type="hidden" id='id_{{ form.prefix }}-id' name='{{ form.prefix }}-id' value="{{ form.id.value }}"/>

						</tr>
					{% endfor %}
					<tr>
					<td><button type="submit" class="waves-effect waves-light btn" />Update</button>
					</tr>
					
				</tbody>
			</table>
			</form>
		</div>
	</div>
</div>
{% endblock content %}