.jumbotron-map {
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.requestValetBtn {
	border-radius: 0px;
}


#top-menu-btn {
    height: 64px;
    line-height: 60px;
    float: left;
    position: relative;
    z-index: 1;
    margin-left: 5px;
    margin-right: 5px;
}

#onscreen-message {
	top: 40%;
}

.dashboard-wrapper {
	margin-top: 100px;
}

.profile-pic-frame {
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}


@media only screen and (min-width:601px){
	#top-menu-btn {
	    height: 64px;
	    line-height: 68px;
	    float: left;
	    position: relative;
	    z-index: 1;
	}
}
