.jumbotron-map {
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.requestValetBtn {
	border-radius: 0px;
}


#globe-btn {
    height: 64px;
    line-height: 60px;
    float: left;
    position: relative;
    z-index: 1;
}

#onscreen-message {
	top: 40%;
}
@media only screen and (min-width:601px){
	#globe-btn {
	    height: 64px;
	    line-height: 68px;
	    float: left;
	    position: relative;
	    z-index: 1;
	}
}
