
/* Google Maps Autocomplete  Display */

#floating-panel {

  position: absolute;
  top: 12%;
  left: 50%;
  margin-left: -180px;
  width: 350px;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
  
}

/* Set Location Button */

#floating-button {

  position: absolute;
  top: 38%;
  left: 50%;
  margin-left: -180px;
  width: 350px;
  z-index: 5;
  text-align:center;
  padding: 5px;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;

}

/* Container for Main Buttons */

#floatingButtons {

  position: absolute;
  z-index: 5;
  bottom: 0;
  width: 100% !important;
  margin-bottom: 0px;

}

/* Scheduled Repark Modal */

.modal .modal-footer {

  border-radius: 0px;
  background-color: none;
  padding: 4px 6px;
  height: 56px;
  width: 100%;

}

.modal-footer {

  padding: 15px;
  text-align: right;
  border-top: none;

}
  

/* Angular Google Maps */

.angular-google-map-container { 

  height: 100%;
  width: 100%;
  position: absolute; 

}


