
/* Google Maps Autocomplete  Display */

#floating-panel {

  position: absolute;
  top: 12%;
  left: 50%;
  margin-left: -180px;
  width: 350px;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;

}

/* Set Location Button */

#floating-button {

  position: relative;
  top: 42%;
  z-index: 5;
  text-align:center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;

}

/* Container for Main Buttons */

#floatingButtons {

  position: absolute;
  z-index: 5;
  bottom: 0;
  width: 100% !important;
  margin-bottom: 0px;

}

#floatingButtons>.row {

  margin-bottom: 0px;

}

#optionsTitlePanel {

    padding: 12px 0px;
    background-color: #37474f;
    color: #ffc400;

}


#optionsIconPanel {
  
  background-color: #455a64;  

}

#optionsIconPanel>button {

  border-radius: 0px;
  background-color: transparent;
}

/* Scheduled Repark Modal */

.modal .modal-footer {

  border-radius: 0px;
  background-color: none;
  padding: 4px 6px;
  height: 56px;
  width: 100%;

}

.modal-footer {

  padding: 15px;
  text-align: right;
  border-top: none;

}

/* id="activateScheduledRepark" */

#activateScheduledRepark {

  width: 100%;

}
  

/* Angular Google Maps */

.angular-google-map-container { 

  height: 100%;
  width: 100%;
  position: absolute; 

}

/* Galaxy s5 */
@media only screen and (min-width:360px) and (max-width:374px)
{
  #floating-panel {

    left: 51.5%;

  }

  #floating-button {

    top: 38%;

  }

  #optionsTitlePanel>span {
    
    font-size: 10px;
    
  }

}

/* iPhone 6 */
@media only screen and (min-width:375px) and (max-width:413px)
{
  #floating-panel {

    left: 52%;

  }

  #floating-button {

    top: 39%;

  }

  #optionsTitlePanel>span {
    
    font-size: 10px;

  }

}

/* iPhone 6 Plus */
@media only screen and (min-width:414px)
{

    #floating-panel {

      left: 52%;

    }

    #floating-button {

      top: 40%;

    }

    #optionsTitlePanel>span {
    
      font-size: 10px;

    }
  
}


