

<div class="row dashboard-wrapper">
	<div class="container">
		<div class="col s12">
			<div class='col s12'>
				<form ng-submit="" method="POST" class="">
					<div class="row">
				        <div class="input-field col s12">
				          <input id="company" type="text" class="validate" ng-model="vm.policy.company">
				          <label for="company" class="active">Company</label>
				        </div>
					</div>
					<div class="row">
				        <div class="input-field col s12">
				          <input id="policy_number" type="text" class="validate" ng-model="vm.policy.policy_number">
				          <label for="policy_number" class="active">Policy Number</label>
				        </div>
					</div>
					<div class="row">
				        <div class="input-field col s12">
				          <input id="insured_vehicle" type="text" class="validate" ng-model="vm.policy.insured_vehicle">
				          <label for="insured_vehicle" class="active">Insured Vehicle</label>
				        </div>
					</div>
					<div class="row">
				        <div class="input-field col s12">
				          <input id="agent_first_name" type="text" class="validate" ng-model="vm.policy.agent_first_name">
				          <label for="agent_first_name" class="active">Agent First Name</label>
				        </div>
					</div>
					<div class="row">
				        <div class="input-field col s12">
				          <input id="agent_last_name" type="text" class="validate" ng-model="vm.policy.agent_last_name">
				          <label for="agent_last_name" class="active">Agent Last Name</label>
				        </div>
					</div>
					<div class="row">
				        <div class="input-field col s12">
				          <input id="agent_phone_number" type="tel" class="validate" ng-model="vm.policy.agent_phone_number">
				          <label for="agent_phone_number" class="active">Phone Number</label>
				        </div>
					</div>
					
					<input type="submit" class="btn btn-primary btn-md" value="Update">
				</form>
			</div>
		</div>
	</div>
</div>