


<div class="row dashboard-wrapper">
	<div class="container">
		<div class="col s12">
			<div class='col s8'>
				<img src="" alt="" class="circle responsive-img profile-pic-frame" />
			</div>
			<div class='col s12'>
				<form ng-submit="" method="POST" class="">
					<div class="row">
				        <div class="input-field col s12">
				          <input id="legal_first_name" type="text" class="validate" ng-model="vm.license.legal_first_name">
				          <label for="legal_first_name" class="active">Legal First Name</label>
				        </div>
					</div>
					<div class="row">
				        <div class="input-field col s12">
				          <input id="legal_last_name" type="text" class="validate" ng-model="vm.license.legal_last_name">
				          <label for="legal_last_name" class="active">Legal Last Name</label>
				        </div>
					</div>
					<div class="row">
				        <div class="input-field col s12">
				          <input id="license_id_number" type="text" class="validate" ng-model="vm.license.license_id_number">
				          <label for="license_id_number" class="active">License ID #</label>
				        </div>
					</div>
					<div class="row">
				        <div class="input-field col s12">
				          <input id="registered_city" type="text" class="validate" ng-model="vm.license.registered_city">
				          <label for="registered_city" class="active">Registered City</label>
				        </div>
					</div>
					<div class="row">
				        <div class="input-field col s12">
				          <input id="registered_state" type="text" class="validate" ng-model="vm.license.registered_state">
				          <label for="registered_state" class="active">Registered State</label>
				        </div>
					</div>
					<div class="row">
				        <div class="input-field col s12">
				          <input id="date_of_birth" type="date" class="validate datepicker" ng-model="vm.date_of_birth">
				          <label for="date_of_birth" class="active">DOB</label>
				        </div>
					</div>
					
					<input type="submit" class="btn btn-primary btn-md" value="Update">
				</form>
			</div>
		</div>
	</div>
</div>

