

<div class="row dashboard-wrapper">
	<div class="container">
		<div class="col s12">
			<div class='col s8'>
				<img src="" alt="" class="circle responsive-img profile-pic-frame" />
			</div>
			<div class='col s12'>
				<form ng-submit="vm.updateVehicle()" method="POST" class="" role="form">
					<div class="row">
				        <div class="input-field col s12">
				          <input id="make" type="text" class="validate" ng-model="vm.vehicle.make">
				          <label for="make" class="active">Make</label>
				        </div>
					</div>
					<div class="row">
				        <div class="input-field col s12">
				          <input id="model" type="text" class="validate" ng-model="vm.vehicle.model">
				          <label for="model" class="active">Model</label>
				        </div>
					</div>
					<div class="row">
				        <div class="input-field col s12">
				          <input id="color" type="text" class="validate" ng-model="vm.vehicle.color">
				          <label for="color" class="active">Color</label>
				        </div>
					</div>
					<div class="row">
				        <div class="input-field col s12">
				          <input id="year" type="text" class="validate" ng-model="vm.vehicle.year">
				          <label for="year" class="active">Year</label>
				        </div>
					</div>
					<div class="row">
				        <div class="input-field col s12">
				          <input id="license_plate_number" type="text" class="validate" ng-model="vm.vehicle.license_plate_number">
				          <label for="license_plate_number" class="active">License Plate</label>
				        </div>
					</div>
					<div class="row">
				        <div class="input-field col s12">
				          <input id="updated_registration_tags" type="checkbox" class="validate" ng-model="vm.vehicle.updated_registration_tags">
				          <label for="updated_registration_tags" class="active">Updated Tags?</label>
				        </div>
					</div>
					<div class="row">
				        <div class="input-field col s12">
				          <input id="parking_permit_zone" type="text" class="validate" ng-model="vm.vehicle.parking_permit_zone">
				          <label for="parking_permit_zone" class="active">Parking Permit</label>
				        </div>
					</div>
					<input type="submit" class="btn btn-primary btn-md" value="Update">
				</form>
			</div>
		</div>
	</div>
</div>

