{% extends 'base-user.html' %}
{% block jsblock %}
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5rDIK5VhVda2tXaw-h28AvAObJhVeVfY&libraries=places"></script>
  <script src="http://127.0.0.1:3000/socket.io/socket.io.js"></script>
{% endblock %}

{% block jquery %}
  var socket;
  var map;
  var marker;
  var marker_locations = [];

  function geocodeLatLng(geocoder, lat, lng) 
  {

      var latlng = {lat: parseFloat(lat), lng: parseFloat(lng)};
      geocoder.geocode({'location': latlng}, function(results, status) {
        if (status === google.maps.GeocoderStatus.OK) {
          if (results[0]) {

            //console.log(results[0].formatted_address);
            var address = results[0].formatted_address;
            //console.log(address);
            document.getElementById('id_address').value = address;
            //return address;

          } else {
            window.alert('No results found');
          }
        } else {
          window.alert('Geocoder failed due to: ' + status);
        }
      });
  }

  function updateCurrentLocation()
  {
      // Try HTML5 geolocation.
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };


            document.getElementById('id_lat').value = pos.lat;
            document.getElementById('id_lng').value = pos.lng;

            console.log("new lat position: " + pos.lat);
            console.log("new lng position: " + pos.lng);

            
            // draw map
            // set center to the currentPosition lat, lng
            map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: pos.lat, lng: pos.lng},
          zoom: 15,
          
        });


        marker = new google.maps.Marker({
          position: pos,
          map: map,
          animation: google.maps.Animation.DROP,
          draggable: true,


        });


        var geocoder = new google.maps.Geocoder;
        geocodeLatLng(geocoder, pos.lat, pos.lng);
        //console.log(result);

        

        }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }

      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                            'Error: The Geolocation service failed.' :
                            'Error: Your browser doesn\'t support geolocation.');
      }
  }

  function getCurrentLocation() 
  {
      // Try HTML5 geolocation.
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) 
          {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };

            document.getElementById('id_lat').value = pos.lat;
            document.getElementById('id_lng').value = pos.lng;

            console.log(pos.lat);
            console.log(pos.lng);

            
            // draw map
            // set center to the currentPosition lat, lng
            map = new google.maps.Map(document.getElementById('map'), {
              center: {lat: pos.lat, lng: pos.lng},
              zoom: 15,
              mapTypeControl: false,
              zoomControl: true,
              zoomControlOptions: {
                  position: google.maps.ControlPosition.RIGHT_CENTER
              },
              scaleControl: true,
              streetViewControl: true,
              streetViewControlOptions: {
                  position: google.maps.ControlPosition.RIGHT_CENTER
              },
              draggable: true,
            });

          marker = new google.maps.Marker({
            position: new google.maps.LatLng(pos.lat, pos.lng),
            map: map,
            animation: google.maps.Animation.DROP
          });

          

          //marker_locations.push(pos);
          //for(var i = 0; i < marker_locations.length; i++)
          //{

            //marker = new google.maps.Marker({
              //position: new google.maps.LatLng(marker_locations[i].lat,marker_locations[i].lng),
              //map: map,
            //});
            

          //}

        $("#map").append("<div id='floatingButtons' class='row'><button id='requestRepark' class='col s4 waves-effect waves-light btn-large requestReparkBtn light-blue darken-1' onClick='requestRepark()'>Repark</button><button id='requestDropoff' class='col s4 waves-effect waves-light btn-large requestDropoffBtn indigo darken-1' onClick='requestDropoff()'>Dropoff</button><button id='requestScheduledRepark' class='col s4 waves-effect waves-light btn-large requestDropoffBtn teal darken-1' onClick='requestScheduledRepark()'>Schedule Repark</button></div><div id='loading-screen'></div><div id='floating-button'><button onClick='updateCurrentLocation()' class='btn btn-success btn-md'>Ping Location</button></div>");

        $("#loading-screen").append("<div id='floating-loading-screen' class='col s12'><div id='onscreen-message' class='col s12'><h3>Finding Your Valet</h3><h4>Thanks for your patience</h4></div></div>");

        var geocoder = new google.maps.Geocoder;
        geocodeLatLng(geocoder, pos.lat, pos.lng);

        }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }

      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                            'Error: The Geolocation service failed.' :
                            'Error: Your browser doesn\'t support geolocation.');
      }
  }


  function displayAutocomplete()
  {
      var input = document.getElementById('id_address');
      var options = {
        types: ['address'],
        componentRestrictions: {country:'us'}
      };
      autocomplete = new google.maps.places.Autocomplete(input, options);

      google.maps.event.addListener(autocomplete, 'place_changed', function() {
          var place = autocomplete.getPlace();

      })
  }

  function connectSocket()
  {

    // socket = io('/users');

    socket = io.connect('http://127.0.0.1:3000/users');
    console.log('ran connectSocket');
  }

  function pingServerForValetRequest(repark_obj){
    // var room_number = uuid;
    // console.log(room_number);
    console.log(repark_obj);
    socket.emit("request-valet", repark_obj);
    

  }

  function requestRepark()
  {

    $("#id_is_repark").val("True");


    var url = "request/valet/"; 

    $.ajax({
           type: "POST",
           url: url,
           data: $("#locationForm").serialize(), // serializes the form's elements.
           success: function(data)
           {

               pingServerForValetRequest(data); // ping server to broadcast request to '/valets'
               
               // $("#loading-screen").append("<div id='floating-loading-screen' class='col s12'><h3>Finding Your Valet</h3><h4>Thanks for your patience</h4></div>");

               $("#floating-loading-screen").fadeIn(2000, function(){
                $("h3").fadeIn(1200);
                $("h4").fadeIn(1200);
               });

               $("#floating-panel").hide();

               $("#requestValet").removeClass("light-blue").addClass("red darken-3");
               $("#requestValet").attr("onClick", "cancelRequest()");
               $("#requestValet").text("Cancel Request");
           }
         });

    return false; // avoid to execute the actual submit of the form.
  }

  function requestDropoff()
  {

    $("#id_is_dropoff").val("True");

    var url = "request/valet/"; 

    $.ajax({
           type: "POST",
           url: url,
           data: $("#locationForm").serialize(), // serializes the form's elements.
           success: function(data)
           {

               pingServerForValetRequest(data); // ping server to broadcast request to '/valets'
               
               // $("#loading-screen").append("<div id='floating-loading-screen' class='col s12'><h3>Finding Your Valet</h3><h4>Thanks for your patience</h4></div>");

               $("#floating-loading-screen").fadeIn(2000, function(){
                $("h3").fadeIn(1200);
                $("h4").fadeIn(1200);
               });

               $("#floating-panel").hide();

               $("#requestValet").removeClass("light-blue").addClass("red darken-3");
               $("#requestValet").attr("onClick", "cancelRequest()");
               $("#requestValet").text("Cancel Request");
           }
         });

    return false; // avoid to execute the actual submit of the form.
  }

  function requestScheduledRepark()
  {

    $("#id_is_scheduled_repark").val("True");

    // display the additional input fields (start_date,end_date,time_limit) in modal
    $('#scheduledReparkPanel').openModal();

    
    $("#start_date").change(function(){
      var start_date = $(this).val();
      $("#id_scheduled_start_date").val(start_date);
    });

    $("#end_date").change(function(){
      var end_date = $("#end_date").val();
      $("#id_scheduled_end_date").val(end_date);
    });

    $("#parking_hour_limit").change(function(){
      var parking_hour_limit = $(this).val();
      $("#id_time_limit").val(parking_hour_limit);
    });


  }

  function activateScheduledRepark()
  {
    // run AJAX post request
    var url = 'request/valet/';

    $ajax({
      type: 'POST',
      url: url,
      data: $("#locationForm").serialize(),
      success: function(data)
      {
        // on success,
        // somehow put request in a queue
        // when it is within 30 mins to the parking_exp_time
        // send a ping to valets
        console.log("User scheduled a repark!");
        console.log(data);
      },

    });
  } 


  function cancelRequest(){
    // do something
  }
  {% endblock jquery %}
  
  {% block on_ready_js %}

    
    connectSocket();
    getCurrentLocation();
    displayAutocomplete();

    //This line is what makes the Marker stick to the center of the map
    marker.bindTo('position', map, 'center');

    google.maps.event.addListener(map, 'dragstart', function (event) {
      document.getElementById("latbox").value = this.getPosition().lat();
      document.getElementById("lngbox").value = this.getPosition().lng();
    });

    google.maps.event.addListener(map, 'dragend', function (event) {
      document.getElementById("latbox").value = this.getPosition().lat();
      document.getElementById("lngbox").value = this.getPosition().lng();
    });

    socket.on("request-accepted", function(data){

      console.log("request has been accepted");
      Materialize.toast('Your request has been accepted.', 3000, 'rounded');

      marker.setMap(null);
      marker_locations = [];


      console.log(data);
      $("#floating-loading-screen").hide();
      $("#floating-panel").show("slow");
      $("#id_address").attr("disabled", "true");
      $("#floating-button").hide();

      // $("#requestValet").attr("disabled", "true");
      var origin_lat = data.valet_start_pos.lat;
      var origin_lng = data.valet_start_pos.lng;

      var origin_latlng = {
        lat: parseFloat(origin_lat),
        lng: parseFloat(origin_lng),
      }

      var destination_lat = data.pickup_location.lat;
      var destination_lng = data.pickup_location.lng;

      var destination_latlng = {
        lat: parseFloat(destination_lat),
        lng: parseFloat(destination_lng),
      }



      var directionsDisplay = new google.maps.DirectionsRenderer;
      var directionsService = new google.maps.DirectionsService;

      directionsDisplay.setMap(map);
      directionsDisplay.setPanel(document.getElementById('right-panel'));


      function calculateAndDisplayRoute(directionsService, directionsDisplay, origin_latlng, destination_latlng){
        directionsService.route({
          origin: origin_latlng,
          destination: destination_latlng,
          travelMode: google.maps.TravelMode.DRIVING
        }, function(response, status){
          if(status === google.maps.DirectionsStatus.OK){
            directionsDisplay.setDirections(response);
            console.log(response);
          } else {
            window.alert('Directions request failed due to ' + status);
          }
        });
      };


      calculateAndDisplayRoute(directionsService, directionsDisplay,origin_latlng,destination_latlng);

    });


    socket.on("update-valet-location", function(new_position){

      // draw symbol for new location of valet
      var lat = new_position.lat;
      var lng = new_position.lng;

      pos = {
        lat:lat,
        lng:lng,
      }

     // marker = new google.maps.Marker({
        //position: pos,
        //setMap: map,
       // animation: google.maps.Animation.DROP,
        //draggable: false,

       // });
      
    });

    socket.on("alert-valet-arrived", function(){
      //alert("Valet has arrived");
      Materialize.toast('Valet has arrived', 3000, 'rounded')
    });

    socket.on("alert-valet-enroute", function(){
      //alert("Valet looking for a new parking location.");
      Materialize.toast('Your valet is looking for a new parking spot.', 3000, 'rounded')
    });


    socket.on("vehicle-new-location", function(data){
      alert("Your vehicle's new location: " + data.dropoff_location.full_address);

      // do something else here for the user???
      console.log("your vehicle's new location: ");
      console.log(data.dropoff_location.full_address);


      // just ping the new location??
      // OR also show option to be directed to new location

      
      var lat = data.dropoff_location.lat;
      var lng = data.dropoff_location.lng;

      pos = {
        lat:parseFloat(lat),
        lng:parseFloat(lng),
      }

      console.log(pos.lat + ',' + pos.lng);

      map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: pos.lat, lng: pos.lng},
        zoom: 17,
      });

      marker_locations.push(pos);
      for(var i = 0; i < marker_locations.length; i++)
      {

        marker = new google.maps.Marker({
          position: new google.maps.LatLng(marker_locations[i].lat,marker_locations[i].lng),
          map: map,
          animation: google.maps.Animation.DROP,
          draggable: false,
        });
        

      }



    });

    socket.on("requested-repark-completed", function(){

      marker_locations = [];

      var url = "/completed";

      $.ajax({
        type:"GET",
        url: url,
        data: null,
        success: function(data)
        {
          // do something?
          window.location.href = '/';
          console.log("request was completed");
        }

      });

    });


  {% endblock on_ready_js %}



{% block styles %}
{% endblock styles %}


{% block content %}

<div id='floating-panel'>

<form action="{% url 'request-valet' %}" class='col s12' id='locationForm' method='POST'>
  {% csrf_token %}
  <input id='id_address' type='text' name='address' placeholder='Enter your address'/>
  <input id='id_lat' type='hidden' name='lat' />
  <input id='id_lng' type='hidden' name='lng' />
  
  <input id="id_is_repark" type='hidden' name="is_repark"/>
  <input id="id_is_dropoff" type='hidden' name="is_dropoff"/>

  <!-- 
  if scheuled repark is selected,
  open up a modal with additional form fields:
  - start date (default=today)
  - end date (default=today)
  - time
  - location (use the floating panel address, but remind user to confirm address)

  -->
  <input id='id_scheduled_start_date' type='hidden' name='scheduled_start_date' />
  <input id='id_scheduled_end_date' type='hidden' name='scheduled_end_date' />
  <input id='id_time_limit' type='hidden' name='time_limit' />
  <input id='id_is_scheduled_repark' type='hidden' name='is_scheduled_repark'/>
  <input id='latbox' type='hidden' name='lat' />
  <input id='lngbox' type='hidden' name='lng' />
</form>

</div>

<div id="scheduledReparkPanel" class="modal" >
  <div class="modal-content">
    <label for="start_date">Date of Repark</label>
    <input type='date' class='datepicker' id='start_date' placeholder='YYYY/MM/DD'/>
    <label for="end_date">Last Day of Reparking</label>
    <input type='date' class='datepicker' id='end_date' placeholder='YYYY/MM/DD' />
    <label for="parking_hour_limit">Time Limit</label>
    <input type='number' class='input-field' id='parking_hour_limit' placeholder='Enter # of hours' />
  </div>
  <div class="modal-footer">
    <button id='activateScheduledRepark' class='col s4 waves-effect waves-light btn-large requestDropoffBtn teal darken-1' onClick='activateScheduledRepark()'>Submit Request</button>
  </div>
</div>

<div id="map" class="jumbotron jumbotron-map">

</div>






{% endblock content %}
